@using Medicine.Common
@model Medicine.Web.Areas.Admin.Model.MedicineReportModel

@{
    ViewBag.Title = "Details";
}


    <div class="page-header mt-0 shadow p-3">
        <ol class="breadcrumb mb-sm-0">
            <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home", new { Area = "Admin" })">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Report View</li>
        </ol>

        @if (User.IsInRole(Role.Admin))
        {
            <a href="@Url.Action("ChangeStatus", "MedicineReport", new { id = Model.Id, status = EnumMedicineReportStatus.Rejected, Area = "Admin" })" class="btn btn-warning btn-pill  mb-0 btn-sm">Reject</a>
        }
    </div>

<div class="row">
    <div class="col-md-12">
        <div class="card shadow overflow-hidden">
            <div class="card-header">
                <h2 class="mb-0">Report Information</h2>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4">
                        <h3>Complainant Info</h3>
                        <hr>
                        <div class="form-group">
                            <label class="form-label">Full Name</label>
                            <input type="text" class="form-control" name="example-disabled-input" value="@Model.Complainant.Name" disabled="">
                        </div>
                        <div class="form-group">
                            <label class="form-label">Email Address</label>
                            <input type="text" class="form-control" name="example-disabled-input" value="@Model.Complainant.Email" disabled="">
                        </div>
                        <div class="form-group">
                            <label class="form-label">Phone Number</label>
                            <input type="text" class="form-control" name="example-disabled-input" value="@Model.Complainant.Phone" disabled="">
                        </div>
                        <div class="form-group">
                            <label class="form-label">Comments</label>
                            <textarea class="form-control" name="example-textarea-input" rows="6" disabled="">@Model.Comment</textarea>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <h3>Shop Info</h3>
                        <hr>
                        <div class="form-group">
                            <label class="form-label">Shop Name</label>
                            <input type="text" class="form-control" name="example-disabled-input" value="@Model.Pharmacy.Name" disabled="">
                        </div>
                        <div class="form-group">
                            <label class="form-label">Phone Number</label>
                            <input type="text" class="form-control" name="example-disabled-input" value="@Model.Pharmacy.Phone" disabled="">
                        </div>
                        <div class="form-group">
                            <label class="form-label">Area</label>
                            <input type="text" class="form-control" name="example-disabled-input" value="@Model.Pharmacy.Address" disabled="">
                        </div>
                        <div class="form-group">
                            <label class="form-label">Download Document(Zip file)</label>
                            <br>
                            @{ var documentUrl = string.IsNullOrEmpty(Model.DocumentUrl) ? "" : Url.Content(Model.DocumentUrl); }
                            <a href="@documentUrl">Download Document(Zip file)</a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <h3>Medicine Info</h3>
                        <hr>
                        <div class="form-group">
                            <label class="form-label">Medicine Name</label>
                            <input type="text" class="form-control" name="example-disabled-input" value="@Model.MedicineInfo.Name" disabled="">
                        </div>
                        <div class="form-group">
                            <label class="form-label">Company Name</label>
                            <input type="text" class="form-control" name="example-disabled-input" value="@Model.MedicineInfo.Company.Name" disabled="">
                        </div>
                        <div class="form-group">
                            <label class="form-label">Orginal Price</label>
                            <input type="text" class="form-control" name="example-disabled-input" value="@Model.MedicineInfo.TotalPrice" disabled="">
                        </div>
                        <div class="form-group">
                            <label class="form-label">Asking Price</label>
                            <input type="text" class="form-control" name="example-disabled-input" value="@Model.AskingPrice" disabled="">
                        </div>


                    </div>
                    <div class="col-md-4">
                        @{
                            var status = User.IsInRole(Role.Admin) ? EnumMedicineReportStatus.ToComapny : EnumMedicineReportStatus.ToPharmacy;
                            var showName = User.IsInRole(Role.Admin) ? "Company" : "Pharmacy";
                        }

                        @if ((User.IsInRole(Role.Admin) && EnumMedicineReportStatus.Pending == Model.Status) || (User.IsInRole(Role.Company) && EnumMedicineReportStatus.ToComapny == Model.Status))
                        {
                            <a href="@Url.Action("ChangeStatus", "MedicineReport", new { id = Model.Id, status = status, Area = "Admin" })" class="btn btn-pill btn-primary">Forward to @showName</a>
                        }
                    </div>
                </div>

                @if (User.IsInRole(Role.Pharmacy))
                {
                <div class="row">
                    <div class="col-md-12">
                        <div class="card shadow overflow-hidden">
                            <div class="card-header">
                                <h2 class="mb-0">Send mail To the User</h2>
                            </div>
                            <div class="card-body">
                                @using (Html.BeginForm("SendFeedback", "MedicineReport", FormMethod.Post))
                                {

                                    @Html.AntiForgeryToken()
                                    @Html.Hidden("MedicineReportId", Model.Id)
                                    <div class="row">
                                        <div class="col-md-4">

                                            <div class="form-group">
                                                <label class="form-label">Full Name</label>
                                                <input type="text" class="form-control" name="example-disabled-input" value="@Model.Complainant.Name" disabled="">
                                            </div>

                                            <div class="form-group">
                                                <label class="form-label">Email</label>
                                                <input type="text" class="form-control" name="example-disabled-input" value="@Model.Complainant.Email" disabled="">
                                            </div>

                                        </div>
                                        <div class="col-md-8">
                                            <div class="form-group">
                                                <label class="form-label">Comments</label>
                                                <textarea class="form-control" name="FeedbackMessage" rows="6"></textarea>
                                            </div>
                                        </div>

                                        <div class="col-md-4">
                                            <button type="submit" class="btn btn-pill btn-primary">Send</button>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
                }

            </div>
        </div>
    </div>

</div>


